# SPDX-FileCopyrightText: 2022 Google LLC
#
# SPDX-License-Identifier: Apache-2.0

name: CI

on: [push]

# Updating Rust versions:
#
# When updating to a newer (or older) version of Rust for the main build process
# then the version should be updated in the /rust-toolchain.toml file too.
# That file determines which version gets used locally on developer machines.

jobs:
    haskell-nix:
        name: Build and test Haskell (Nix flake)
        runs-on: ubuntu-24.04

        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Install Nix
              uses: cachix/install-nix-action@v31
              with:
                  nix_path: nixpkgs=channel:nixos-unstable

            - name: Enter Nix shell
              run: |
                  nix develop --command echo 'Nix shell entered'

            - name: Update Cabal index info
              run: |
                  nix develop --command cabal update
                  nix develop --command cabal freeze

            - name: Cache
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.cabal-nix/store
                  key: packages-cachebust-0-nix-${{ hashFiles('cabal.project.freeze', 'cabal.project', 'flake.nix', 'flake.lock', 'nix/**/*.nix', 'nix/**/*.json') }}
                  restore-keys: packages-cachebust-0-nix

            - run: nix develop --command cabal build all
            - run: nix develop --command cabal run clash-bitpackc:unittests
            - run: nix develop --command cabal run clash-protocols-memmap:unittests

            - run: nix develop --command cabal run clash-protocols-memmap:example
            - run: nix develop --command cabal run clash-protocols-memmap:hdl-test

    rust-nix:
        name: Build and test Rust (Nix flake)
        runs-on: ubuntu-24.04

        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Install Nix
              uses: cachix/install-nix-action@v31
              with:
                  nix_path: nixpkgs=channel:nixos-unstable

            - name: Enter Nix shell
              run: |
                  nix develop --command echo 'Nix shell entered'

            - name: Cache
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.cabal-nix/store
                  key: packages-cachebust-0-nix-${{ hashFiles('cabal.project.freeze', 'cabal.project', 'flake.nix', 'flake.lock', 'nix/**/*.nix', 'nix/**/*.json') }}
                  restore-keys: packages-cachebust-0-nix

            - run: nix develop --command cargo build
            - run: nix develop --command cargo test

    license-check:
        runs-on: ubuntu-24.04
        container:
            image: ubuntu:24.04
        steps:
            - uses: actions/checkout@v5
            - name: REUSE Compliance Check
              uses: fsfe/reuse-action@v6

    all:
        name: All jobs finished
        if: ${{ !cancelled() }}
        needs: ["license-check", "haskell-nix", "rust-nix"]
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Check dependencies for failures
              run: |
                  # Test all dependencies for success/failure
                  set -x
                  success="${{ contains(needs.*.result, 'success') }}"
                  fail="${{ contains(needs.*.result, 'failure') }}"
                  set +x

                  # Test whether success/fail variables contain sane values
                  if [[ "${success}" != "true" && "${success}" != "false" ]]; then exit 1; fi
                  if [[ "${fail}"    != "true" && "${fail}"    != "false" ]]; then exit 1; fi

                  # We want to fail if one or more dependencies fail. For safety, we introduce
                  # a second check: if no dependencies succeeded something weird is going on.
                  if [[ "${fail}" == "true" || "${success}" == "false" ]]; then
                    echo "One or more dependency failed, or no dependency succeeded."
                    exit 1
                  fi
